{
  "env": {
    "build-browser": {
      "presets": [
        ["env", {
          "targets": { "browsers": "> 1%" },
          "modules": false
        }]
      ]
    },
    "build-node": {
      "presets": [
        ["env", {
          "targets": { "node": 5 },
          "modules": false
        }]
      ]
    },
    "test": {
      "ignore": false,
      "presets": [
        ["env", {
          "targets": { "node": true }
        }]
      ],
      "plugins": [
        "istanbul"
      ]
    }
  }
}
